@model OnlineBanking.ViewModels.KontoViewModel

<div class="form-group">
    <label class="control-label col-md-2" for="Kontotyp">Kontotyp*</label>
    <div class="col-md-10">
        @Html.DropDownList("Konten", Model.KontoTypList,
            new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="Iban">IBAN</label>
    <div class="col-md-10">
        <input class="form-control text-box single-line" readonly="" />
    </div>
</div>