@model IEnumerable<OnlineBanking.ViewModels.Eroeffnungsdatum>

@{
    ViewBag.Title = "Kundenstatistik";
}

<h2>Kundenstatistik</h2>

<table class="table">
    <tr>
        <th>
            Eröffnungsdatum
        </th>
        <th>
            Kunden
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KontoEroeffnung)
            </td>
            <td>
                @item.KundenCount
            </td>
        </tr>
    }
</table>